{% unless gmm_image_size %}
{% assign gmm_image_size = "medium" %}
{% endunless %}
<script id="globo-hidden-menu" type="text/html">
<li class="globomenu-item  globomenu-item-level-0 gin globomenu-submenu-reverse">
                    <a class="globomenu-target " href="/"><span class="globomenu-target-title globomenu-target-text">HOME</span></a></li><li class="globomenu-item  globomenu-item-level-0 globomenu-item-has-children globomenu-has-submenu-drop globomenu-has-submenu-mega">
                    <a class="globomenu-target "><span class="globomenu-target-title globomenu-target-text">SHOP</span><i class="globomenu-retractor fa fa-times"></i></a><ul class="globomenu-submenu globomenu-submenu-drop globomenu-submenu-type-mega globomenu-submenu-align-full_width"><li class="globomenu-item  gin globomenu-column globomenu-column-1-6"><div  class="globomenu-content-block globomenu-custom-content globomenu-custom-content-padded"><!DOCTYPE html>
<html>
<head>
<style>

#AW20buttonhover:hover {
    content: url('https://cdn.shopify.com/s/files/1/0068/4651/3222/files/AW20_HOVER.jpg?v=1602260316')

}</style>

</head>
<body>
<a href="https://gigiburris.com/collections/aw20-collection">
<img id="AW20buttonhover" src="https://cdn.shopify.com/s/files/1/0068/4651/3222/files/AW20_MAIN.jpg?v=1602260332” img="" style="width:190px; box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);">
</a>
</body>
</html></div></li><li class="globomenu-item  gin globomenu-column globomenu-column-1-6"><div  class="globomenu-content-block globomenu-custom-content globomenu-custom-content-padded"><!DOCTYPE html>
<html>
<head>
<style>

#BRIDALbuttonhover:hover {
    content: url('https://cdn.shopify.com/s/files/1/0068/4651/3222/files/BRIDAL20_HOVER_4ba4da7d-4d15-4c5a-ac4a-04f1a3ea1177.jpg?v=1584646159')

}</style>

</head>
<body>
<a href="https://gigi-burris.myshopify.com/collections/bridal">
<img id="BRIDALbuttonhover" src="https://cdn.shopify.com/s/files/1/0068/4651/3222/files/BRIDAL20_BUTTON.jpg?v=1584645459” img="" style="width:190px; box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);">
</a>
</body>
</html></div></li><li class="globomenu-item  gin globomenu-column globomenu-column-1-6"><div  class="globomenu-content-block globomenu-custom-content globomenu-custom-content-padded"><!DOCTYPE html>
<html>
<head>
<style>

#COREbuttonhover:hover {
    content: url('https://cdn.shopify.com/s/files/1/0068/4651/3222/files/CORE_HOVER.jpg?v=1599004102')

}</style>

</head>
<body>
<a href="https://gigi-burris.myshopify.com/collections/core-collection">
<img id="COREbuttonhover" src=" https://cdn.shopify.com/s/files/1/0068/4651/3222/files/CORE_BUTTON.jpg?v=1599004170” img="" style="width:190px; box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);">
</a>
</body>
</html></div></li><li class="globomenu-item  gin globomenu-column globomenu-column-1-6"><div  class="globomenu-content-block globomenu-custom-content globomenu-custom-content-padded"><!DOCTYPE html>
<html>
<head>
<style>

#mensbuttonhover:hover {
    content: url(' https://cdn.shopify.com/s/files/1/0068/4651/3222/files/MENS_HOVER_BUTTON.png?681')

}</style>

</head>
<body>
<a href="https://gigi-burris.myshopify.com/collections/burris-menswear">
<img id="mensbuttonhover" src=" https://cdn.shopify.com/s/files/1/0068/4651/3222/files/MENS_MENU_BUTTON.png?11463195921826423772" img="" style="width:190px; box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);">
</a>
</body>
</html></div></li><li class="globomenu-item  gin globomenu-column globomenu-column-1-6"><div  class="globomenu-content-block globomenu-custom-content globomenu-custom-content-padded"><!DOCTYPE html>
<html>
<head>
<style>

#ACCbuttonhover:hover {
    content: url('https://cdn.shopify.com/s/files/1/0068/4651/3222/files/ACC_EDIT_HOVER.jpg?v=1599004088')

}</style>

</head>
<body>
<a href="https://gigi-burris.myshopify.com/collections/accessory-edit">
<img id="ACCbuttonhover" src=" https://cdn.shopify.com/s/files/1/0068/4651/3222/files/ACC_EDIT_BUTTON.jpg?v=1599005090” img="" style="width:190px; box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);">
</a>
</body>
</html></div></li><li class="globomenu-item  gin globomenu-column globomenu-column-1-6"><div  class="globomenu-content-block globomenu-custom-content globomenu-custom-content-padded"><!DOCTYPE html>
<html>
<head>
<style>

#disneybuttonhover:hover {
    content: url('https://cdn.shopify.com/s/files/1/0068/4651/3222/files/DISNEY_HOVER_BUTTON.png?681')

}</style>

</head>
<body>
<a href="https://gigi-burris.myshopify.com/collections/disney-x-gigi-burris">
<img id="disneybuttonhover" src="https://cdn.shopify.com/s/files/1/0068/4651/3222/files/DISNEY_MENU_BUTTON.png?15405931535353319998" img="" style="width:190px; box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);">
</a>
</body>
</html></div></li></ul></li><li class="globomenu-item  globomenu-item-level-0 globomenu-item-has-children globomenu-has-submenu-drop globomenu-has-submenu-mega">
                    <a class="globomenu-target " href="/collections/disney-x-gigi-burris"><span class="globomenu-target-title globomenu-target-text">DISNEY x GIGI BURRIS</span><i class="globomenu-retractor fa fa-times"></i></a><ul class="globomenu-submenu globomenu-grid-row globomenu-submenu-drop globomenu-submenu-type-mega globomenu-submenu-align-full_width"><li class="globomenu-item  gin globomenu-column globomenu-column-1-5">
                    <a class="globomenu-target  globomenu-target-with-image gilia"><img class="globomenu-image" src="{{ 'menu_img_4894_1561225447.jpg' | asset_url }}" alt=""><span class="globomenu-target-title globomenu-target-text"></span></a></li><li class="globomenu-item  gin globomenu-column globomenu-column-1-4">
                    <a class="globomenu-target  globomenu-target-with-image gilia" href="/collections/disney-x-gigi-burris"><img class="globomenu-image" src="{{ 'menu_img_4894_1561225940.jpg' | asset_url }}" alt=""><span class="globomenu-target-title globomenu-target-text"></span></a></li><li class="globomenu-item  globomenu-item-header globomenu-has-submenu-stack globomenu-column globomenu-column-1-4">
                    <a class="globomenu-target " href="/collections/disney-x-gigi-burris"><span class="globomenu-target-title globomenu-target-text">DISNEY X GIGI BURRIS</span><i class="globomenu-retractor fa fa-times"></i></a><ul class="globomenu-submenu globomenu-submenu-type-stack"><li class="globomenu-item  gin">
                    <a class="globomenu-target " href="/collections/disney-x-gigi-burris"><span class="globomenu-target-title globomenu-target-text">SHOP THE MICKEY AND MINNIE MOUSE COLLECTION</span></a></li><li class="globomenu-item  gin">
                    <a class="globomenu-target " href="/pages/disney-x-gigi-burris"><span class="globomenu-target-title globomenu-target-text">THE STORY OF MICKEY AND MINNIE MOUSE COLLECTION</span></a></li><li class="globomenu-item  gin">
                    <a class="globomenu-target " href="/pages/about-the-campaign"><span class="globomenu-target-title globomenu-target-text">THE MICKEY AND MINNIE MOUSE CAMPAIGN INSPIRATION</span></a></li></ul></li><li class="globomenu-item  gin globomenu-column globomenu-column-1-6"><div  class="globomenu-content-block globomenu-custom-content globomenu-custom-content-padded"></div></li><li class="globomenu-item  gin globomenu-column globomenu-column-full"></li></ul></li><li class="globomenu-item  globomenu-item-level-0 globomenu-item-has-children globomenu-has-submenu-drop globomenu-has-submenu-mega">
                    <a class="globomenu-target " href="/pages/about-gigi-burris"><span class="globomenu-target-title globomenu-target-text">INSIDE THE ATELIER</span><i class="globomenu-retractor fa fa-times"></i></a><ul class="globomenu-submenu globomenu-grid-row globomenu-submenu-drop globomenu-submenu-type-mega globomenu-submenu-align-full_width"><li class="globomenu-item  gin globomenu-column globomenu-column-1-6">
                    <a class="globomenu-target  globomenu-target-with-image gilia"><img class="globomenu-image" src="{{ 'menu_img_4894_1541280368.jpg' | asset_url }}" alt=""><span class="globomenu-target-title globomenu-target-text"></span></a></li><li class="globomenu-item  globomenu-item-header globomenu-has-submenu-stack globomenu-column globomenu-column-1-3">
                    <a class="globomenu-target " href="/pages/about"><span class="globomenu-target-title globomenu-target-text">OUR STORY</span><i class="globomenu-retractor fa fa-times"></i></a><ul class="globomenu-submenu globomenu-submenu-type-stack"><li class="globomenu-item  gin">
                    <a class="globomenu-target " href="/pages/about-gigi-burris"><span class="globomenu-target-title globomenu-target-text">ABOUT GIGI BURRIS</span></a></li><li class="globomenu-item  gin">
                    <a class="globomenu-target " href="/pages/copy-of-about-the-campaign-1"><span class="globomenu-target-title globomenu-target-text">SUSTAINABLE PRACTICE</span></a></li><li class="globomenu-item  gin">
                    <a class="globomenu-target " href="/blogs/press"><span class="globomenu-target-title globomenu-target-text">PRESS</span></a></li><li class="globomenu-item  gin">
                    <a class="globomenu-target " href="/blogs/collaborations"><span class="globomenu-target-title globomenu-target-text">COLLABORATIONS</span></a></li><li class="globomenu-item  gin">
                    <a class="globomenu-target " href="/pages/couture"><span class="globomenu-target-title globomenu-target-text">COUTURE</span></a></li><li class="globomenu-item  gin">
                    <a class="globomenu-target " href="https://instagram.com/gigiburris"><span class="globomenu-target-title globomenu-target-text">DIARY</span></a></li></ul></li>
            <li data-id="594809" id="globomenu-item-594809" class="globomenu-item gin globomenu-column globomenu-column-1-3">
                <div class="globomenu-target globomenu-contact">
                    <span class="globomenu-target-headding globomenu-target-text">CONTACT US</span>
                    <span class="globomenu-target-divider"> - </span>
                    <span class="globomenu-target-title globomenu-target-text"></span>
                
                      {% form "contact", id: "globomenu-contact-form", class: "globomenu-contact-form" %}

                        {% if form.posted_successfully? %}
                          <p class="note form-success">
                            {{ 'contact.form.post_success' | t }}
                          </p>
                        {% endif %}

                        {{ form.errors | default_errors }}
                          <div class="globomenu-contact-form-wrapper">
                              <div class="globomenu-col-md-6 globomenu-col-xs-12">
                                  <input type="text" class="globomenu-form-control" name="contact[name]" autocomplete="name" placeholder="{{ 'contact.form.name' | t }}" value="">
                              </div>
                              <div class="globomenu-col-md-6 globomenu-col-xs-12">
                                  <input type="email" class="globomenu-form-control" name="contact[email]" autocomplete="email" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="">
                              </div>
                              <div class="globomenu-col-md-12 globomenu-col-xs-12">
                                  <input type="tel" class="globomenu-form-control" name="contact[phone]" autocomplete="tel-national" placeholder="{{ 'contact.form.phone' | t }}" value="">
                              </div>
                              <div class="globomenu-col-md-12 globomenu-col-xs-12">
                                  <textarea rows="5" class="globomenu-form-control" name="contact[message]" placeholder="{{ 'contact.form.message' | t }}"></textarea>
                              </div>
                              <div class="globomenu-col-md-12 globomenu-col-xs-12">
                                  <input type="submit" class="globomenu-btn" value="{{ 'contact.form.send' | t }}">
                              </div>
                          </div>
                      {% endform %}</div>
            </li><li class="globomenu-item  gin globomenu-column globomenu-column-1-6">
                    <a class="globomenu-target  globomenu-target-with-image gilia"><img class="globomenu-image" src="{{ 'menu_img_4894_1541280384.jpg' | asset_url }}" alt=""><span class="globomenu-target-title globomenu-target-text"></span></a></li></ul></li></script>
