
{% assign menu = linklists[section.settings.main_linklist] %}

{% for link in menu.links %} 

<script>console.log( {{link.type|json}});</script>

  {% if link.links != blank %}
    <li class="site-image-nav--has-dropdown" aria-haspopup="true">
    {% comment %} TODO: build function that returns string to assign to linkImage {% endcomment %}
    
    {% assign linkType = link.type %}
    {% case linkType %}
      {% when 'collection_link' %}
        {% assign collectionName = link.title | downcase %}
        {%assign linkImage= collections.collectionName.image.src%}
      {% else %}
        {%assign linkImage= section.settings.shop_all_image%}
    {% endcase %}
  
   

      <a href="{{ link.url }}" data-imgsrc="{{ linkImage.src | collection_img_url: 'medium'}}" class="site-image-nav__link">
        {{ link.title }}
      </a> 
  
      <div class="site-image-nav__dropdown-menu dropdown-menu">
        <ul class="site-image-nav__list dropdown-menu__list">
          {% for sub_link in link.links %}
          {% if sub_link.levels > 0 %}
              <li class="site-image-nav--has-subdropdown" aria-haspopup="true">
                <a href="{{ sub_link.url }}" class="site-image-nav__link">{{ sub_link.title | escape }} <i class="fa fa-caret-right fa-lg" aria-hidden="true"></i></a>  
                <ul class="site-image-nav__subdropdown">
                  {% for sub_sub_link in sub_link.links %}
                    <li>
                      <a href="{{ sub_sub_link.url }}" class="site-image-nav__link">{{ sub_sub_link.title | escape }}</a>
                    </li>
                  {% endfor %} 
                </ul>  
              </li>        
            {% else %} 
              <li>
                <a href="{{ sub_link.url }}" class="site-image-nav__link">{{ sub_link.title | escape }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="site-image-nav__menu-image"> 
        {% capture props %}
          style="width: 100%"
          itemprop="navImage"
        {% endcapture %}
       {% include 'responsive-image' with section.settings.shop_all_image, alt: "alt", props: props %}
        </div>
      </div>
      
    </li>

    {% else %}

    <li> 
      <a href="{{ link.url }}" class="site-image-nav__link">{{ link.title }}</a>
    </li> 

  {% endif %}

{% endfor %}
