{% assign menu = linklists[section.settings.main_linklist] %}

{{ 'menuNav.js' | asset_url | script_tag }}

{% for link in menu.links %}
    {% if link.links != blank %}
        <li aria-haspopup="true" class="site-image-nav__listItem--has-dropdown">
            {% comment %} TODO: build function that returns string to assign to linkImage {% endcomment %}

            {% assign linkType = link.type %}

            {% case linkType %}
                {% when 'catalog_link' %}
                    {%assign linkImage= section.settings.shop_all_image.src%}
                {% when 'collection_link' %}
                    {% assign collectionName = link.handle | downcase %}
                    {%assign linkImage= collections.collectionName.image%}
                {% when 'page_link' %}
                    {% assign linkPage = link.object%}
                    {% assign myimage = linkPage.handle | append:'.jpeg' %}
                    {%assign linkImage=myimage%}
                {% else %}
                    {%assign linkImage= section.settings.shop_all_image.src%}
            {% endcase %}
            {% if linkType == 'page_link' %}
                <a href="{{ link.url }}" data-imgsrc="{{ linkImage| file_img_url: 'original'}}" class="site-image-nav__link">
                    {{ link.title }}
                </a>

            {% else %}

                <a href="{{ link.url }}" data-imgsrc="{{ linkImage.src | img_url: 'original'}}" class="site-image-nav__link">
                    {{ link.title }}
                </a>
            {% endif %}
            <div class="site-image-nav__dropdown-menu dropdown-menu">
                <ul class="site-image-nav__list dropdown-menu__list">
                    {% for sub_link in link.links %}
                        {% assign linkType = sub_link.type %}
                        <script>console.log({{linkType | json}})</script>
                        {% case linkType %}
                            {% when 'catalog_link' %}
                                {% assign linkCollection = sub_link.object%}
                                {%assign linkImage=linkCollection.image.src%}

                            {% when 'collection_link' %}
                                {% assign linkCollection = sub_link.object%}
                                {%assign linkImage=linkCollection.image.src%}

                            {% when 'product_link' %}
                                {% assign  productLink= sub_link.object %}
                                <script>console.log({{productLink.featured_image.src | json}})</script>
                                {% assign linkImage = productLink.featured_image.src %}
                            {% when 'http_link' %}
                                {% assign httpHandle = sub_link.handle%}
                                {% if httpHandle == 'diary' %}
                                    {% assign linkImage = httpHandle |append:'.jpeg' %}
                                {% endif %}
                                <script>console.log({{linkImage|json}})</script>
                            {% else %}
                                {% assign linkPage = sub_link.object%}
                                {% assign myimage = linkPage.handle | append:'.jpeg' %}
                                <script>console.log({{myimage| json}})</script>
                                {%assign linkImage=myimage %}


                                {% comment %} TODO page case {% endcomment %}
                        {% endcase %}


                        {% if sub_link.levels > 0 %}
                            <li aria-haspopup="true" class="site-image-nav__listItem--has-subdropdown">
                                {% if linkType == 'page_link' or  linkType =='http_link' or  linkType =='blog_link'  %}
                                    <a href="{{ sub_link.url }}" data-imgsrc="{{ linkImage| file_img_url: 'original'}}" class="site-image-nav__link">
                                        {{ link.title }}
                                    </a>

                                {% else %}
                                    <a href="{{ sub_link.url }}" {% if linkCollection.image %} data-imgsrc="{{ linkCollection.image.src | collection_img_url: 'original'}}" {% endif %} class="site-image-nav__link">{{ sub_link.title | escape }}
                                        <i aria-hidden="true" class="fa fa-caret-right fa-lg submenu-toggle-button "></i>
                                    </a>
                                {% endif %}

                                <ul class="site-image-nav__subdropdown">
                                    {% for sub_sub_link in sub_link.links %}

                                        {% assign linkType = sub_sub_link.type %}
                                        {% case linkType %}
                                            {% when 'catalog_link' %}
                                                {% assign linkCollection = sub_sub_link.object%}
                                            {% when 'collection_link' %}
                                                {% assign linkCollection = sub_sub_link.object%}

                                            {% when 'page_link' %}
                                                {% assign linkPage = sub_sub_link.object%}
                                                {% assign myimage = linkPage.handle | append:'.jpeg' %}
                                                {%assign linkImage=myimage%}

                                            {% else %}
                                                {% comment %} TODO page case {% endcomment %}
                                        {% endcase %}
                                        <li>
                                            <a href="{{ sub_sub_link.url }}" class="site-image-nav__link" {% if linkCollection.image %} data-imgsrc="{{ linkCollection.image.src | collection_img_url: 'original'}}" {% else %} data-imgsrc="{{linkCollection.products.first.images.first | img_url:'original'}} " {% endif %}>
                                                {{sub_sub_link.title | escape }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li aria-haspopup="true" class="site-image-nav__listItem">
                                {% if  linkType == 'page_link' or  linkType =='http_link' or  linkType =='blog_link' %}
                                    <a href="{{ sub_link.url }}" data-imgsrc="{{ linkImage| file_img_url: 'original'}}" class="site-image-nav__link">
                                        {{ sub_link.title }}
                                    </a>

                                {% else %}

                                    <a href="{{ sub_link.url }}" data-imgsrc="{{ linkImage | img_url: 'original'}}" class="site-image-nav__link">
                                        {{ sub_link.title }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="site-image-nav__menu-image-container">
                    <a class="site-image-nav__image-link" href="collections/all">

                        <img class="site-image-nav__menu-image" src="{{ section.settings.shop_all_image.src | img_url:"750X750" }}" data-src="{{ linkImage.url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ linkImage.aspect_ratio }}" data-sizes="auto" alt="{{ linkImage.title | escape }}">
                    </a>
                    <!-- {% include 'responsive-image' with section.settings.shop_all_image, class:"menu-image" alt: "alt", props: props %} -->
                </div>
            </div>

        </li>

    {% else %}

        <li>
            <a href="{{ link.url }}" class="site-image-nav__link">
                {{ link.title }}
            </a>
        </li>

    {% endif %}

{% endfor %}
